
<div class="stretch">
    <ul id="post-list" class="mt-2 rem-bullets">
        <li class="w-100 blog-item mt-4">
            <div class="w-100 card bg-light">
                <h5 class="card-header p-2">{{title}}</h5>
                <small class="text-muted p-1 pl-2">Posted on: {{ format_date createdAt}}</small>
                <div class="card-body">
                    <h5 class="card-title border-bottom">{{user.username}}</h5>
                    <p class="card-text p-1">{{content}}</p>
                    <input type="text" class="comment-box" placeholder="Leave a comment...">
                    <button id="comment-btn" class="btn cust-btn btn-dark">Save</button>
                </div>

                {{#if comment}}
                {{#each comment as |comment|}}
                <div class="list-group" id="comments">
                    <div href="#" class="list-group-item list-group-item-action active">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"{{comment}}</h5>
                        <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                
                </div>
                {{/if}}
            </div>
            

        </li>
    </ul>
</div>
